* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.listofusers,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.listofusers ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date {
  margin-top: 5px;
  margin-bottom: 5px;
}
#wdrncnt {
  margin-top: 30px;
  width: 550px;
  height: 100px;
  background-color: #c4ff4d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px;
}
#wtrdntxt {
  margin-top: 5px;
  margin-left: 5px;
}
#ttlwlcnt {
  margin-top: 30px;
  padding-top: 10;
  width: 430px;
  height: 100px;
  margin-left: 10px;
  background-color: #b82e8a;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 15px;
  border-radius: 25px;
}

#admnern,
#mtcrstd,
#dpstd,
#nwsr {
  width: 220px;
  height: 90px;
  background-color: #33ffff;
  padding-left: 28px;
  border-radius: 25px;
}
#ttlwdcnt {
  margin-top: 5px;
  margin-left: 8px;
}
#wltcnt {
  display: flex;
  flex-direction: row;
}

#trackusrcntdpst {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 30px;
}
#usrcntsct {
  margin-top: 5px;
  background-color: #ffff66;
  width: 550px;
  height: 200px;
  border-radius: 25px;
}
#usrcntsct ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nrgstusr {
  margin-top: 2px;
  margin-left: 18px;
}
#usrcntsct li {
  padding: 25px;
}
#dpstusr {
  margin-left: 10px;
  width: 430px;
  height: 200px;
  border-radius: 25px;
  background-color: #ffff66;
}
#dpstusrtxt {
  margin-left: 20px;
  margin-top: 10px;
}
.adnlgn {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}
#admnhdg {
  font-size: 38px;
  color: #007399;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
#adusrnm {
  font-size: 18px;
  color: #007399;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
#admnusrlb {
  width: 250px;
  height: 40px;
}
#admnlbpwd {
  font-size: 18px;
  color: #007399;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
#admnpwdlb {
  width: 250px;
  height: 40px;
}
#admnbtnp {
  margin-top: 10px;
  width: 80px;
  height: 30px;
}
#activityevents {
  display: flex;
}
#activityevents,
div {
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15px;
}
#mngusrs {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 15px;
}
#sbrtxt {
  width: 900px;
  height: 40px;
}
#sbrfndbtnp {
  width: 55px;
  height: 40px;
}
#kyctextfld {
  font-weight: bold;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 45px;
}
#kncusdet {
  display: flex;
}
#ntfcbtnp {
  margin-left: 860px;
}
.dialog {
  width: 500px;
  height: 190px;
  background-color: rgb(163, 194, 194);
  margin-left: 100px;
}
#notification-input {
  width: 465px;
  height: 135px;
  margin-left: 10px;
}
#submit-btn {
  margin-left: 200px;
}
#main-content {
  padding: 0px;
}
.wrapper {
  padding-left: -330px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
}

.main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  background-color: #fafbfe;
}

#sidebar {
  width: 70px;
  min-width: 70px;
  z-index: 1000;
  transition: all 0.25s ease-in-out;
  background-color: #0e2238;
  display: flex;
  flex-direction: column;
  height: auto;
}

#sidebar.expand {
  width: 260px;
  min-width: 260px;
}

.toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.5rem;
}

.toggle-btn i {
  font-size: 1.5rem;
  color: #fff;
}

.sidebar-logo {
  margin: auto 0;
}

.sidebar-logo a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none;
}

.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}

a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #fff;
  display: block;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

.sidebar-link i {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}

a.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 3px solid #3b7ddd;
}

.sidebar-item {
  position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #0e2238;
  padding: 0;
  min-width: 15rem;
  display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
  display: block;
  max-height: 15em;
  width: 100%;
  opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}
@media only screen and (max-width: 480px) {
  .listofusers,
  .listofusers ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-left: -10px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .listofusers li {
    margin-bottom: 5px;
  }
  #listusers,
  #nwsr,
  #dpstd,
  #mtcrstd,
  #admnern {
    width: 250px;
    height: 80px;
  }
  #wltcnt {
    display: flex;
    flex-direction: column;
  }
  #wdrncnt {
    margin-top: 5px;
    width: 275px;
    height: 100px;
    background-color: #c4ff4d;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
  }
  #ttlwlcnt {
    margin-top: 30px;
    padding-top: 10;
    width: 270px;
    height: 100px;
    margin-left: 10px;
    background-color: #b82e8a;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;
  }
  #usrcntsct {
    margin-top: 5px;
    background-color: #ffff66;
    width: 275px;
    height: 200px;
    border-radius: 25px;
    margin-bottom: 15px;
  }
  #trackusrcntdpst {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  #dpstusr {
    margin-left: 10px;
    width: 270px;
    height: 200px;
    border-radius: 25px;
    background-color: #ffff66;
  }
  #sbrtxt {
    width: 230px;
    height: 40px;
  }
  #kncusdet div {
    margin-left: -5px;
    margin-right: -5px;
  }
  
}
